<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AceChange | Вход</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="./img/svg/Logo.svg" type="image/x-icon">
  <!-- Custom styles -->
  <link rel="stylesheet" href="./css/style.min.css">
  <link rel="stylesheet" href="./css/style.css">
</head>

<body>
  <div class="layer"></div>
<main class="page-center">
  <div class="logo-sign">
    <img src="./img/svg/Logo.svg" alt="Не работает :(">
  </div>
  <article class="sign-up">
    <h1 class="sign-up__title">С возвращением!</h1>
    <p class="sign-up__subtitle">Войдите в аккаунт, чтобы прдолжить</p>
    <form class="sign-up-form form" action="" method="">
      <label class="form-label-wrapper">
        <p class="form-label">Почта</p>
        <input class="form-input" type="email" placeholder="Введите почту" required>
      </label>
      <label class="form-label-wrapper">
        <p class="form-label">Пароль</p>
        <input class="form-input" type="password" placeholder="Введите пароль" required>
      </label>
      <a class="link-info forget-link" href="##">Не помните пароль?</a>
      <label class="form-checkbox-wrapper">
        <input class="form-checkbox" type="checkbox">
        <span class="form-checkbox-label">Запомнить</span>
      </label>
      <button class="form-btn primary-default-btn transparent-btn">Войти</button>
    </form>
  </article>
</main>
<!-- Chart library -->
<script src="./plugins/chart.min.js"></script>
<!-- Icons library -->
<script src="plugins/feather.min.js"></script>
<!-- Custom scripts -->
<script src="js/script.js"></script>
</body>

</html>